body {
  font-family: 'Noto Sans TC', sans-serif;
}



nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 999;
  padding: 20px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  backdrop-filter: blur(6px); /* 毛玻璃效果 */
  height: 60px;


}

nav a {
  color: white;
  margin-left: 30px;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ffd700; /* 滑過變金色 */
}

.logo {
  height: 50px;
  width: auto;
}

.nav-right a {
  color: white;
  text-decoration: none;
  margin-left: 30px;
  font-size: 1.2rem;
  font-family: 'Noto Sans TC', sans-serif;
  transition: color 0.3s;
}

.nav-right a:hover {
  color: #ffd700;
}

p {
  font-weight: 600;
}

h2 {
  font-weight: 500;
}

li {
  font-weight: 500;
}

ul li {
  margin-bottom: 10px; /* 每個 li 元素下方留 10px 間距 */
}